parameters:
    strictRules:
        allRules: true
    polluteScopeWithLoopInitialAssignments: false
    polluteScopeWithAlwaysIterableForeach: false
    checkDynamicProperties: %featureToggles.bleedingEdge%
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    reportMaybesInMethodSignatures: true
    reportStaticMethodSignatures: true
    reportMaybesInPropertyPhpDocTypes: true

includes:
    - ../../../phpstan/phpstan/conf/bleedingEdge.neon
    - ../../../phpstan/phpstan-deprecation-rules/rules.neon
